.button {
    background: none;
    transition: all 300ms;
    padding: 24px 32px;
    border-radius: 8px;
    color: $light;
    cursor: pointer;
    font-family: $font-stack;
    font-weight: bold;
    &--primary {
      
      background-color: $button-primary;
      &:hover {
        //built in function in sass, darkens a color
        background-color: darken($button-primary, 10%); //button-primary:hover {}
      }
    }
  
    &--secondary {
      background-color: $button-secondary;
      &:hover {
        background-color: darken($button-secondary, 10%);
      }
    }
  
    &--danger {
      background-color: $button-danger;
      &:hover {
        background-color: darken($button-danger, 10%);
      }
    }
  
    &--success {
      background-color: $button-success;
      &:hover {
        background-color: darken($button-success, 10%);
      }
    }
}