@import 'variables';

.collapse_login_reg_button {
  background: none;
  border-radius: 15px;
  border:4px solid $secondary_color;
  color: $secondary_color;
  cursor: pointer;
  font-family: $body_font;
  font-weight: bold;
  margin-bottom: 1em;
}

.btn_submit_login_reg {
  border-radius: 10px;
  background: $primary_color_1;
  border:2px solid $primary_color_1;
  color: $secondary_color;
  margin-top: 2em;
} 

.button {
  background: $secondary_color;
  transition: all 300ms;
  padding: 0.5em;
  border-radius: $border_radius_button;
  color: #ffffff; 
  cursor: pointer;
  font-family: $body_font;
  text-transform: uppercase;
   
    &:hover {
      background-color: darken($secondary_color, 10%);
    }
}

.button_inverted_light {
  background: none;
  transition: all 300ms;
  padding: 0.5em;
  border-radius: $border_radius_button;
  border:2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-family: $body_font;
  text-transform: uppercase;

    &:hover {
      background-color: darken($secondary_color, 10%);
    }
}

.button_inverted_dark {
  background: none;
  transition: all 300ms;
  padding: 0.5em;
  border-radius: $border_radius_button;
  border:2px solid $primary_color_1;
  color: $primary_color_1;
  cursor: pointer;
  font-family: $body_font;
  text-transform: uppercase;
    
    &:hover {
      background-color: darken($secondary_color, 10%); 
    }
}

.icon_btn {
  background: none;
}
.icon {
  color: $primary_color_1;
  font-size: 2rem;
}
.feed_add_new_post_icon{
  color: $primary_color_1;
  font-size: 2rem;
  margin-right: 0.5em;
}
.post_comment_btn {
  margin-top: 1.5em;
}

.to_top {
  position:fixed;
  z-index: 1000;
  bottom: 10vh;
  right: 2em;
  
  
  a:link {
    color:$secondary_color;
  }

  a:visited {
    color:$secondary_color;
  }

  /*a:hover {
      color: orangered;
      
  }
      
      &:hover {
          //transform: rotate(-45deg) !important;
          animation: shake 0.5s;
          color: orangered;
          animation-iteration-count: infinite; 
          @keyframes shake {
          0% { transform: translate(1px, 1px) rotate(0deg);  }
          10% { transform: translate(-1px, -2px) rotate(-1deg);}
          20% { transform: translate(-3px, 0px) rotate(1deg);}
          30% { transform: translate(3px, 2px) rotate(0deg);}
          40% { transform: translate(1px, -1px) rotate(1deg);}
          50% { transform: translate(-1px, 2px) rotate(-1deg);}
          60% { transform: translate(-3px, 1px) rotate(0deg);}
          70% { transform: translate(3px, 1px) rotate(-1deg);}
          80% { transform: translate(-1px, -1px) rotate(1deg);}
          90% { transform: translate(1px, 2px) rotate(0deg);}
          100% { transform: translate(1px, -2px) rotate(-1deg);}
          }
      }*/

  i {
    font-size: 2em;

  }

  
}
