@import 'variables';

.button {
    background: $primary_color_1;
    transition: all 300ms;
    padding: 10px;
    border-radius: 4px;
    color: $primary_color_2;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    &--primary {
      
      background-color: $primary_color_1;
      &:hover {
        //built in function in sass, darkens a color
        background-color: darken($primary_color_1, 10%); //button-primary:hover {}
      }
    }
  
    &--secondary {
      background-color: $primary_color_1;
      &:hover {
        background-color: darken($primary_color_1, 10%);
      }
    }
  
    &--danger {
      background-color: $denied_font_color;
      &:hover {
        background-color: darken($denied_font_color, 10%);
      }
    }
  
    &--success {
      background-color: pink;
      &:hover {
        background-color: darken(pink, 10%);
      }
    }
}


.button-inverted-light {
  background: none;
  transition: all 300ms;
  padding: 10px;
  border-radius: 4px;
  border:2px solid $primary_color_2;
  color: white;
  cursor: pointer;
  font-family: yellow;
  font-weight: bold;
  &--primary {
    
    background-color: $primary_color_1;
    &:hover {
      //built in function in sass, darkens a color
      background-color: darken($primary_color_1, 10%); //button-primary:hover {}
    }
  }

  &--secondary {
    background-color: $primary_color_1;
    &:hover {
      background-color: darken($primary_color_1, 10%);
    }
  }

  &--danger {
    background-color: red;
    &:hover {
      background-color: darken(red, 10%);
    }
  }

  &--success {
    background-color: pink;
    &:hover {
      background-color: darken(pink, 10%);
    }
  }
}

.button-inverted-dark {
  background: none;
  transition: all 300ms;
  padding: 10px;
  border-radius: 4px;
  border:2px solid black;
  color: black;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  &--primary {
    
    &:hover {
      //built in function in sass, darkens a color
      background-color: darken(green, 10%); //button-primary:hover {}
    }
  }

  &--secondary {
    background-color: green;
    &:hover {
      background-color: darken(yellow, 10%);
    }
  }

  &--danger {
    background-color: red;
    &:hover {
      background-color: darken(red, 10%);
    }
  }

  &--success {
    background-color: pink;
    &:hover {
      background-color: darken(pink, 10%);
    }
  }
}