@import 'variables';

.collapse_login_reg_button {
  background: none;
  border-radius: 15px;
  border:4px solid $secondary_color;
  color: $secondary_color;
  cursor: pointer;
  font-family: $body_font;
  font-weight: bold;
  margin-bottom: 1em;
}

.submit_login_reg_button {
  border-radius: 10px;
  background: $primary_color_1;
  border:2px solid $primary_color_1;
  color: $secondary_color;
  margin-top: 2em;
} 

.general_button {
  background: $primary_color_1;
  transition: all 300ms;
  border:none;
  padding: 0.5em;
  border-radius: $border_radius_button;
  color: $secondary_color;
  cursor: pointer;
  font-family: $body_font;
  text-transform: uppercase;

    &:hover {
      color: $primary_color_1;
      background-color: darken($secondary_color, 10%);
    }
}

.nav_button_inverted_dark {
  background: none;
  transition: all 300ms;
  padding: 0.5em;
  border-radius: $border_radius_button;
  border:2px solid $primary_color_1;
  color: $primary_color_1;
  cursor: pointer;
  font-family: $body_font;
  text-transform: uppercase;
    
    &:hover {
      background-color: darken($secondary_color, 10%); 
    }
}

.icon_buttons {
  background: none;

  .icon {
    color: $primary_color_1;
    font-size: 2rem;
  }
}
.feed_add_new_post_icon{
  color: $primary_color_1;
  font-size: 2rem;
  margin-right: 0.5em;
}
.post_comment_button {
  margin-top: 1.5em;
}

.back_to_top_button {
  position:fixed;
  z-index: 1000;
  bottom: 10vh;
  right: 2em;
  
  
  a:link {
    color:$secondary_color;
  }

  a:visited {
    color:$secondary_color;
  }

  i {
    font-size: 2em;

  }

  
}
