@import 'variables';


.footer_views {
    background-color:$primary_color_1;
    padding: 8rem 0;
    
    p {
        font-family: 'Abril Fatface', cursive;
        font-size: 3rem;
        margin-top: 1em;
    }

    i {
        color: $secondary_color;
    }

    .copyright {
        color: $secondary_color;
        
    }
    
}