@import 'mixins';
@import 'variables';


.body_index {
    background-color: $primary_color_1;

}

.style_log_reg_form {
    background-color: $primary_color_2;
    font-family: $body_font;
    font-weight: bold;    
    box-shadow: 2px 2px 12px 0 rgba(0, 0, 80, 0.2);
    margin: 0 auto 2rem auto;
    border-radius: 4px;
}