//IN CSS

body {
  margin: 0 auto;
  padding: 0;
}
.parallax {
  background-image: url("../images/ren-ran-232079-unsplash.jpg");

  //specific height

    min-height: 1000px;


    //effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h3 {
  position: absolute;
  top: 50px;
  left: 0;
  width: 50%;
}


.white_overlay {
  height: 1000px;
  margin: 0 100px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../images/millhouse_logo.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

}

.white_overlay_2 {
  height: 200px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

.white_overlay_3 {
  height: 200px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

.white_overlay_4 {
  height: 200px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5);
}
.parallax_2 {
  background-image: url("../images/sonnie-hiles-489078-unsplash.jpg");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_3 {
  background-image: url("../images/rawpixel-632454-unsplash.jpg");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_4 {
  background-image: url("../images/matthew-henry-136723-unsplash.jpg");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
