
.parallax {
  background-image: url("../images/ren-ran-232079-unsplash.jpg");
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white_overlay {
  height: 1000px;
  margin: 0 100px;
  padding: 60px;
  background-color: rgba(28, 48, 69, 0.7);
  background-image: url("../images/millhouse_logo.png");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.white_overlay_2 {
  height: 200px;
  padding: 60px;
  background-color: rgba(255, 255, 255, 0.5);
}

.parallax_2 {
  background-image: url("../images/sonnie-hiles-489078-unsplash.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_3 {
  background-image: url("../images/rawpixel-632454-unsplash.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_4 {
  background-image: url("../images/matthew-henry-136723-unsplash.jpg");
  min-height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax_paragraph {
  color: black;
  font-size: 2em;
  font-family: open sans, sans-serif;
  text-align: center;
  letter-spacing: 20px;
  font-weight: bolder;
}

a:link, a:visited, {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

h1 {
  color: white;
  font-size: 2em;
  font-family: open sans, sans-serif;
  text-align: center;
  letter-spacing: 20px;
  font-weight: bolder;
}
