@import 'variables';

.logo_container img {
  height: 180px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  background-color: $secondary_color;

  .contact, .logout {
    margin:2em 0;
  }

  a {
    font-family: $body_font;
  }

  .logo_container {
    width: 20%;
  }

  .category_container { 
    
    a:visited {
      color: $primary_color_1;
      font-weight: bold;
    }
  
    a:hover {
      color: $primary_color_1;
      font-weight: bold;
    }

    ul li {
      display: flex;
      margin: 1.2em;
      font-size: 1.7rem;

      .underline {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contact, .logout {
    margin:0;
  }
}
