@import 'variables';

.logo_container img {
  height: 180px;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: block;
  //background-color: yellow;
  background-color: $secondary_color;
}

  
a {
  font-family: $body_font;
}

.underline {
  text-decoration: underline;
  color: $primary_color_1 !important; //button-primary:hover {}
  }
 
.logo_container {
  width: 20%;
}
 
.category_container {   
  p{
    color: $primary_color_2;
    font-weight: bold;
  }

  a:visited {
    color: $primary_color_2;
    font-weight: bold;
  }
 
  a:hover {
    color: $primary_color_2;
    font-weight: bold;
  }
 
  ul li {
    display: flex;
    color: $primary_color_2;
    font-weight: bold;
    margin:1.2em;
  }
}

.contact, .logout {
  margin:2em 0;
}

@media screen and (min-width: 768px) {
  .contact, .logout {
    margin:0;
  }
}
  
@media screen and (min-width: 992px) {
  
  
}