@import 'variables';

.border_bottom {
    border-bottom: 1px solid #1C3045;
    margin-bottom: 5px;
}

.new_post {
    font-size: 1.2rem;
    display: inline;
    font-family: $headers_font;
  }

.input_comment {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 10px 1px lightgrey;
    padding:10px;
}