@import 'navbar';
@import 'buttons';
@import 'mixins';
@import 'variables';

.row {
    margin:0;
    padding:0;
}

/*main {
   display: flex;
   height: 100%;
   width: 50%;
   justify-content: space-between;
   align-items: center;
 }*/

 nav {
   width: 100%;
 }


 .logo_container {
     width: 20%;

 }


 .category_container{
    
     a {
        color:$light;
        font-weight: bold;
     }

     a:hover {
        color:$light;
        font-weight: bold;
     }

     ul li {
         display: inline-block;
         color:$light;
        font-weight: bold;
     }
 }
