$primary: #A6C9C6;
$secondary: #D7BCC8;
$accent: #E85D75;
$light: #f5f5f5;


$button-primary: #A6C9C6;
$button-secondary: gray;
$button-inverted-light: gray;
$button-inverted-dark: gray;
$button-danger: red;
$button-success: green;


$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;